<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{$title}</title>
</head>
<link rel="stylesheet" href="__PUBLIC__/css/main.css">
<link rel="stylesheet" href="__PUBLIC__/resource/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="__PUBLIC__/resource/toastr/toastr.min.css">
<link rel="shortcut icon" href="__ROOT__/faviconv.ico" />
<script src="__PUBLIC__/resource/jQuery/jquery-1.11.0.min.js"></script>

<!--layui引入 start-->
<link rel="stylesheet" href="__PUBLIC__/resource/layui/css/layui.css">
<script src="__PUBLIC__/resource/layui/layui.js"></script>
<!--layui引入 end-->
<style>
    a:link{
        text-decoration:none;
    }
    a:visited{
        text-decoration:none;
    }
    a:hover{
        text-decoration:none;
    }
    a:active{
        text-decoration:none;
    }
</style>
<body>
