<!--header start-->
<include file="Public/index" />
<!--header end-->
<!--style start-->
<style>
    .table-responsive tr:hover{
        background-color: rgba(240,249,255,1);
    }
    a:hover{
        text-decoration: none !important;
    }
</style>
<!--style end-->
<!--Main/employee_waitcheck start-->
<div class="main-con">
    <div class="top-panel">
        <div class="tit-1">
            <a href="{:U('Home/Main/main_workplace_show')}"><button class="btn btn-default">返回</button></a>
        </div>
    </div>
    <div class="bottom-panel" style="background-color: #ffffff;padding-top: 20px">
        <div class="nav-box" style="border-bottom: 1px solid #E6E6E6;margin-top: 2%">
            <ul style="padding: 0px; width: 65%;height: 40px">
                <li class="off-1" style="width: 25%"><a href="{:U('Home/Main/main_employee_birthday')}">本月生日的员工</a></li>
                <li class="off-1" style="width: 25%"><a href="{:U('Home/Main/main_employee_formal_half_a_month')}">半个月内转正的员工</a></li>
                <li class="off-1" style="width: 25%"><a href="{:U('Home/Main/main_employee_end')}">两个月内合同到期</a></li>
                <li class="on-1" style="width: 25%"><a href="{:U('Home/Main/main_employee_check')}">员工信息等待审核</a></li>
            </ul>
        </div>
        <div class="img">
            <img src="__PUBLIC__/images/unopen.png">
        </div>
        <div class="noti">
            <span>正在努力开通，耐心等待~</span>
        </div>
    </div>
</div>
</div>
<!--Main/employee_waitcheck start-->
<!--footer start-->
<include file="Public/footer" />
<!--footer end-->